<section class="content-header">
  <h1>
    {{name}}
  </h1>
  <ol class="breadcrumb">
    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="#" >Lists</a></li>
  </ol>
</section>
<section class="content" id="moviesInGenres">
  <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box" id="{{_id}}">
          <span class="info-box-icon bg-aqua"><i class="fa fa-envelope-o"></i></span>
          <div class="info-box-content">
              <span class="info-box-text">{{name}}</span>
              <span class="info-box-text">{{genres}}</span>
              <span class="info-box-number">{{rate}}</span>
          </div>
      </div>
  </div>
</section>